# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Excel & CSV exports / data
*.xlsx
*.csv

# Database & SQL scripts
*.db
*.sql

# Uploads
uploads/

# OS files
.DS_Store
Thumbs.db

# Testing & Scratch files
exports/
scratch/

# Credentials / Secrets
utils/client_secrets.json

# PDFs & Markdown documentation (keep local, ignore in git)
*.pdf
*.md
!README.md

